.dialogItem {
    margin: 0 auto;
    max-width: 70px;
}
.dialogItem a{
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: #111827;
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    line-height: 70px;
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
    border: 2px solid #070b13;

}

.dialogItem .active {
    color: #111827;
    display: inline-block;
    background-color: white;
    border: 3px solid darkgoldenrod;
    border-radius: 50%;
    transform: scale(1.1);
  }
  