.preloader {
    margin: 0 auto;
    width: 320px;
    height: 22px;
    border-radius: 20px;
    color: #9691b9;
    border: 2px solid;
    position: relative;
}

.preloader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: l6 2s infinite;
}
.users__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}


@keyframes l6 {
    100% {
        inset: 0
    }
}

