.userAvatar img {
    width: 100px;
}

.user {
    display: flex;
    justify-content: space-between;
    border: 2px solid #ff8ae1ed;
    box-shadow: 5px -5px 10px 1px #db6abf;
    padding: 10px;
    margin-bottom: 10px;
}

.user:hover {
    transform: scale(1.02);
    background-color: grey;
}

.userLeftSide {
}

.followBtnContainer {
   
}

.followBtnContainer button {
    min-width: 100px;
    display: block;
    margin: 0 auto;
    
}

.redBtn {
    background-color: rgb(228, 82, 82);
    color: white;
}

.greenBtn {
    background-color: rgb(8, 189, 8);
    color: black;
}

.userDescription {
    display: flex;
    flex-grow: 1;
    padding: 10px;
    justify-content: space-between;
}

.location {
    padding: 10px;
    text-align: center;
}

span {
    display: inline-block;
    padding: 3px;
    font-size: 14px;
    line-height: 15px;
}
.selectedPage {
    font-weight: bold;
    background-color: black;
    color: white;
}