textarea {
    margin-top: 10px;
    min-height: 60px;
    display: block;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 16px;
    color: rgb(0, 0, 0);
    width: 100%;
    box-sizing: border-box;
}
.myPostBtn
 {
    display: block;
    margin-top: 10px;
    margin-left: auto;
}