.avaSection {
  position: relative;
}
.contentTopImg {
  width: 100%;
  height: 300px;
  background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg");
  background-size: cover;
  background-position: 0px -150px;
  margin-bottom: 20px;
}

.userImageBlock {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: rgb(56, 49, 49);
  width: 250px;
  height: 250px;
  border: 15px solid rgb(241, 225, 225);
  border-bottom-width: 70px;
  transform: rotate(358deg);
  display: block;
}

.userImageBlock img {
  width: 100%;
  max-width: 300px;
}

.userDescription {
  max-width: 100%;
  word-wrap: break-word;
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  font-weight: 600;
}

.profileStatusInput {
  position: relative;
  z-index: 2;
}
