
.dialogMessage {
    box-sizing: border-box;
    min-width: 50px;
    max-width: 400px;
    word-wrap: break-word;
    position: relative;
    color: black;
    margin: 10px;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 5px -5px 10px 1px #1F2933;
    background-color: white;
    border-radius: 10px;
}
.arrow {
    position: absolute;
    right: 20px;
    top: -29px;
    width: 0px;
    height: 0px;
    border: 15px solid white;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    /* background-color: transparent;
    box-shadow: 0px 2px 1px 0px black; */
    
}
.arrow2 {
    position: absolute;
    right: 20px;
    top: -31px;
    width: 0px;
    height: 0px;
    border: 15px solid black;
    
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    background-color: transparent;
}