.preloader__wrapper {
    width: 100%;
    text-align: center;
}
.preloader {
    margin: 0 auto;
    width: 320px;
    height: 22px;
    border-radius: 20px;
    color: #514b82;
    border: 2px solid;
    position: relative;
}

.preloader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: l6 2s infinite;
}

.preloader__text {
    background-color: white;
    color: black;
    font-size: 20px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

@keyframes l6 {
    100% {
        inset: 0
    }
}