.header {
  grid-area: h;
  padding: 20px;
  background-color: #1F2933;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 100px;
  box-shadow: 0px 0px 15px 10px black;
}

.loginBlock {
  border: 2px solid black;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: black;
}




