.nav {
    grid-area: n;
    padding: 20px;
    background-color: #111827;
  }
.nav a {
  color: #f7f7f8;
}

.nav a.active {
  color: rgb(240, 212, 76);
  font-weight: 700;
  /* font-size: 110%; */
  }
  
  .dialogItemLink.active {
    color: white;
  }
  