.nav {
    grid-area: n;
    padding: 20px;
    background-color: #F7CAC9;
  }

  .active {
    color: rgb(155, 132, 6);
    font-weight: 700;
    /* font-size: 110%; */
  }
  
  .dialogItemLink.active {
    color: white;
  }
  