.post {
    position: relative;
    word-break: break-word;
    position: relative;
    padding: 10px;
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 5px -5px 10px 1px #1F2933;
}

.avatar img {
    width: 75px;
    box-shadow: 10px -10px 5px 0px rgb(51, 50, 50);
    border-radius: 10px;
    vertical-align: middle;
}

.message {
    padding-left: 100px;
    max-width: 70%;
}

.likesBox {
    cursor:pointer;
    position: absolute;
    font-size: 12px;
    line-height: 25px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 0px 5px 0px grey;
    padding: 3px;
    left: 90%;
    top: 10%;
    border: 2px solid #2f7015;
    background-color: #09ad09;
    border-radius: 5px;
    min-width: 30px;
    min-height: 30px;
}
.likesBox:hover {
    transform: scale(1.1);
}
.likesBox:active {
    box-shadow: 0px 0px 5px 0px #0cf804 inset;
}

.disLikesBox {
    cursor:pointer;
    font-size: 12px;
    line-height: 25px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;

    padding: 3px;
    position: absolute;
    left: 95%;
    top: 10%;
    border: 2px solid #fc0000;
    background-color: #e9345b;
    border-radius: 5px;
    min-width: 30px;
    min-height: 30px;
}

.disLikesBox:hover {
    transform: scale(1.1);
}

.red {
    background-color: red;
    color: white;
    font-weight: bold;
}