.post {
    position: relative;
    padding: 10px;
    display: flex;
}

.avatar img {
    width: 75px;
    box-shadow: 10px -10px 5px 0px rgb(51, 50, 50);
    border-radius: 10px;
    vertical-align: middle;
}

.text {
    padding-left: 100px;
}
.text::after {
    position: absolute;
    left: 90%;
    top: 90%;
    content: "Like";
    border: 2px solid black;
    border-radius: 5px;
    min-width: 30px;
    min-height: 30px;
}
.red {
    background-color: red;
    color: white;
    font-weight: bold;
 }