body {
  padding-top: 10px;
}
ul li {
  color: rgb(13, 14, 13);
}

 a {
  text-decoration: none;
  color: rgb(80, 71, 71);
 }

.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 150px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}


