.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
}

/* .dialogsTextarea {
    background: black;
    border-radius: 15px;
    padding: 16px;
    color: white;
    max-width: 100%;
    box-sizing: border-box;
    min-width: 200px;
    max-width: 400px;
    margin: 10px;
    box-shadow: inset 0px 0px 10px 4px rgb(255, 255, 255);
}
.dialogsItems {}

 */

.dialogItems {
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 5px -5px 10px 1px #1f2933;
}

.dialogsTitle {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.chatTitle {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.dialogMessages {
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 5px -5px 10px 1px #1f2933;
}
