.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsTextarea {
    background: black;
    border-radius: 15px;
    padding: 16px;
    color: white;
    max-width: 100%;
    box-sizing: border-box;
    min-width: 200px;
    max-width: 400px;
    margin: 10px;
    box-shadow: inset 0px 0px 10px 4px white;
}
.dialogsItems {}




